<body>
  <div class="orange darken-4">
  <nav class="red darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="https://github.com/jcbarn5" class="brand-logo">Jacob Barnes</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#home">Home</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#links">Links</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#home">Home</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#links">Links</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <img src="/assets/profile_pic.jpg" class="responsive-img z-depth-5" style="width: 200px; margin: 0 auto; display: block; border-radius: 5%;">
        <h1 class="center white-text text-darken-1" style="text-shadow: -1px 1px 15px #000000;" target="_blank">Jacob Barnes</h1>
        <h5 class="center white-text text-darken-4" style="text-shadow: -1px 1px 15px #000000;">Full Stack Developer</h5>
        <div class="row center">
          <a href="#resume" class="btn-large waves-effect waves-light yellow darken-4 hoverable"><span style="font-size: 18px;">Resume</span></a>

          <div id="resume" class="modal">
            <div class="modal-content center">
              <object style="overflow:scroll; width:100%; height:600px;" data="Jacob__Barnes__Resume.pdf" type="application/pdf"></object>
            </div>
          </div>

          <a href="Jacob_Barnes_Resume.pdf" download="Jacob_Barnes_Resume.pdf" class="btn-large waves-effect waves-light yellow darken-4 hoverable"><span style="font-size: 18px;">Download</span></a>
        </div>
        <br><br>
      </div>
    </div>

    <div class="parallax"><img src="/assets/ret_tech.jpg" alt="Unsplashed background img 1" style="filter: brightness(80%);"></div>
  </div>

  <div id="skills" class="container orange darken-4">
    <h2 class="center orange darken-4" style="color: white;">SKILLS</h2>
    <hr style="height: 4px; background:white;">
    <div class="section">

      <!--   Icon Section   -->
        <div class="row center">
          <div class="icon-block">
            <div class="col 12 m2 s6">
          		<img src="/assets/angularjs.png" style="width: 90%; height: auto;" title="Angular.JS">
          	</div>
            <div class="col 12 m2 s6">
              <img src="/assets/aws.png" style="width: 90%; height: auto;" title="AWS">
            </div>
            <div class="col 12 m2 s6">
          		<img src="/assets/django.png" style="width: 90%; height: auto;" title="django">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/flask.png" style="width: 90%; height: auto;" title="Flask">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/github.png" style="width: 90%; height: auto;" title="Github">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/mamp.png" style="width: 90%; height: auto;" title="MAMP">
            </div>
        	</div>
        </div>

        <div class="row center">
          <div class="icon-block">
            <div class="col 12 m2 s6">
          		<img src="/assets/mongodb.png" style="width: 90%; height: auto;" title="MongoDB">
          	</div>
            <div class="col 12 m2 s6">
              <img src="/assets/nodejs.png" style="width: 90%; height: auto;" title="Node.js">
            </div>
            <div class="col 12 m2 s6">
          		<img src="/assets/npm.png" style="width: 90%; height: auto;" title="NPM">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/postgres.png" style="width: 90%; height: auto;" title="PostgreSQL">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/python.png" style="width: 90%; height: auto;" title="Python">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/rails.png" style="width: 90%; height: auto;" title="Rails">
          	</div>
          </div>
        </div>

        <div class="row center">
          <div class="icon-block">
            <div class="col 12 m2 s6">
          		<img src="/assets/ruby.png" style="width: 90%; height: auto;" title="Ruby">
          	</div>
            <div class="col 12 m2 s6">
              <img src="/assets/terminal.png" style="width: 90%; height: auto;" title="Command Line">
            </div>
            <div class="col 12 m2 s6">
          		<img src="/assets/vagrant.png" style="width: 90%; height: auto;" title="Vagrant">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/html.png" style="width: 90%; height: auto;" title="HTML">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/js.png" style="width: 90%; height: auto;" title="JavaScript">
          	</div>
            <div class="col 12 m2 s6">
          		<img src="/assets/css.png" style="width: 90%; height: auto;" title="CSS">
          	</div>
          </div>
        </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">

        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/ret_tech.jpg" alt="Unsplashed background img 2" style="filter: brightness(80%);"></div>
  </div>

  <div id="projects" class="container orange darken-4">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>PROJECTS</h4>
              <div class="row">
              <div class="col s12 m6 center">
                <div class="card hoverable z-depth-3">
                  <div class="card-image">
                    <img src="/assets/yellow_belt.JPG">
                  </div>
                  <div class="card-content">
                    <span class="card-title white-text red darken-4">Website Mimic</span>
                    <p style="font-size: 20px;">Website CSS mimic done in first week of Coding Dojo boot camp. Moved from this to creating responsive web design pages (like this portfolio!)</p>
                  </div>
                  <div class="card-action">
                    <a href="https://github.com/jcbarn5/DojoAssignments/tree/master/WebFundamentals/CSS/YellowBelt" target="_blank">View on Github</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 center">
                <div class="card hoverable z-depth-3">
                  <div class="card-image">
                    <img src="/assets/mean_wall.JPG">
                  </div>
                  <div class="card-content">
                    <span class="card-title white-text red darken-4">70's Message Board</span>
                    <p style="font-size: 20px;">MEAN project that allows users to login with user name, post messages, and comment on their own and others messages. **(UNDER CONSTRUCTION)**</p>
                  </div>
                  <div class="card-action">
                    <a href="https://github.com/jcbarn5/DojoAssignments/tree/master/MEAN/FullMEAN/MEAN_Wall" target="_blank">View on Github</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col s12 m6 center">
              <div class="card hoverable z-depth-3">
                <div class="card-image">
                  <img src="/assets/quotes_python.JPG">
                </div>
                <div class="card-content">
                  <span class="card-title white-text red darken-4">Quotable Quotes</span>
                  <p style="font-size: 20px;">Python project that allows users to login/register and create quotes as well as view and save favorite quotes from other users. **(UNDER CONSTRUCTION)**</p>
                </div>
                <div class="card-action">
                  <a href="https://github.com/jcbarn5/DojoAssignments/tree/master/Python/Quotes" target="_blank">View on Github</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 center">
              <div class="card hoverable z-depth-3">
                <div class="card-image">
                  <img src="/assets/ruby_project.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title white-text red darken-4">Shoe Store</span>
                  <p style="font-size: 20px;">Ruby on Rails project that allows users to login/register and buy/sell products with other users. **(UNDER CONSTRUCTION)**</p>
                </div>
                <div class="card-action">
                  <a href="https://github.com/jcbarn5/DojoAssignments/tree/master/Ruby/ruby_assignments/Belt/belt_attempt_one" target="_blank">View on Github</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container orange darken-4">
        <div class="row center">
          <h5 class="header col s12 light">“ Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live. ”  -Rick Osborne</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/ret_tech.jpg" alt="Unsplashed background img 3" style="filter: brightness(80%);"></div>
  </div>

  <footer id="links"  class="page-footer red darken-4">
    <div class="container red darken-4">

      <div class="row center">
        <div class="col s12 m4 l2">
          <a href="https://github.com/jcbarn5" target="_blank" class="white-text" style="text-shadow: -1px 1px 15px #000000;"><p>GitHub</p></a>
        </div>
        <div class="col s12 m4 l8">
          <a href="mailto:jacob.barnes8@gmail.com" class="white-text" style="text-shadow: -1px 1px 15px #000000;"><p>jacob.barnes8@gmail.com</p></a>
          <a href="#" class="white-text" style="text-shadow: -1px 1px 15px #000000;"><p>859-391-6309</p></a>
        </div>
        <div class="col s12 m4 l2">
          <a href="https://www.linkedin.com/in/jacob-barnes-b8002b114/" target="_blank" class="white-text" style="text-shadow: -1px 1px 15px #000000;"><p>LinkedIn</p></a>
        </div>
      </div>

    </div>
    <div class="footer-copyright">
      <div class="container center red darken-4">
      Made by <a class="white-text text-lighten-3" href="https://github.com/jcbarn5">Jacob Barnes June 2017</a>
      </div>
    </div>
  </footer>
</div>
  <!--  Scripts-->


  </body>
